<div
  *ngIf="completedMaps.length || projectMaps.length; else noMaps"
  class="wrapper-animation container mx-auto"
>
  <div class="flex flex-col lg:flex-row px-3">
    <div *ngIf="completedMaps.length" class="mb-8 flex-1 lg:mr-4">
      <h2 class="text-neutral-300 text-2xl mb-3">Completed maps</h2>

      <app-table [data]="completedMaps"> </app-table>
    </div>
    <div *ngIf="projectMaps.length" class="flex-1">
      <h2 class="text-neutral-300 text-2xl mb-3">Projects</h2>

      <app-table [data]="projectMaps"> </app-table>
    </div>
  </div>
</div>

<ng-template #noMaps>
  <h2 class="text-center" [ngStyle]="{ color: '#F3F4F6' }">
    No maps available
  </h2>
  <p class="text-center" [ngStyle]="{ color: '#CED4DA' }">
    You can add maps to your account in the Add maps page
  </p>
</ng-template>
