<!-- chart js stats component here? -->
<div
  *ngIf="completedMaps.length || projectMaps.length; else noMaps"
  class="container"
>
  <div class="row justify-content-center">
    <div *ngIf="completedMaps.length" class="col-sm-12 col-lg-6">
      <h2 class="mb-4" [ngStyle]="{ color: '#F3F4F6' }">Completed maps</h2>

      <app-table [data]="completedMaps">
        <ng-template #tableMethods let-map>
          <td class="text-center">
            <fa-icon
              class="ms-2"
              (click)="onDelete(map)"
              [ngStyle]="{ color: '#B8767A' }"
              [icon]="faTrash"
            ></fa-icon>
          </td> </ng-template
      ></app-table>
    </div>
    <div *ngIf="projectMaps.length" class="col-sm-12 col-lg-6">
      <h2 class="mb-4" [ngStyle]="{ color: '#F3F4F6' }">Projects</h2>

      <app-table [data]="projectMaps">
        <ng-template #tableMethods let-map>
          <td class="text-center">
            <fa-icon
              (click)="onCompleted(map)"
              [ngStyle]="{ color: '#38B67B' }"
              [icon]="faCheckCircle"
            ></fa-icon>
            <fa-icon
              class="ms-2"
              (click)="onDelete(map)"
              [ngStyle]="{ color: '#B8767A' }"
              [icon]="faTrash"
            ></fa-icon>
          </td>
        </ng-template>
      </app-table>
    </div>
  </div>
</div>

<ng-template #noMaps>
  <h2 class="text-center" [ngStyle]="{ color: '#F3F4F6' }">
    No maps available
  </h2>
  <p class="text-center" [ngStyle]="{ color: '#CED4DA' }">
    You can add maps to your account in the Add maps page
  </p>
</ng-template>
