/* input:focus,
textarea:focus,
.form-select {
  box-shadow: 0px 1px 11px -5px rgb(247 247 247 / 76%);
  border: 1px solid rgb(214, 209, 209);
  color: black;
}



.form-control,
.form-select,
option {
  background-color: #e8f0fe;
}

.form-floating {
  color: #d1d5db;
}

#checkbox {
  color: #e8f0fe;
}

.btn-form {
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 15px;
}

.error-message {
  display: inline-block;
  color: #f3c1c4;
} */

/* Remove input type=number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input,
select,
option,
textarea {
  /* background-color: #313133; */
  @apply bg-zinc-700;
}

#submit-btn {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  cursor: pointer;
}

#submit-btn:disabled {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed;
}

::placeholder {
  @apply text-neutral-200;
}
