<div class="container">
  <form [formGroup]="mapForm" (ngSubmit)="userSubmit()">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="form-floating mb-3">
          <input
            [ngStyle]="{ color: 'black' }"
            type="text"
            class="form-control"
            id="map-name"
            placeholder="map-name"
            formControlName="map_name"
          />
          <label [ngStyle]="{ color: 'black' }" for="map-name">Map name</label>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="form-floating mb-3">
          <select
            formControlName="map_type"
            class="form-select"
            id="floatingSelect"
          >
            <option selected value="linear">Linear</option>
            <option value="stage">Stage</option>
          </select>
          <label [ngStyle]="{ color: 'black' }" for="floatingSelect"
            >Map style</label
          >
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-floating mb-3">
          <input
            [ngStyle]="{ color: 'black' }"
            class="form-control"
            type="number"
            formControlName="map_tier"
            id="map-tier"
            placeholder="map-tier"
          />
          <label [ngStyle]="{ color: 'black' }" for="map-tier">Tier</label>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="col-lg-8">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="map-notes"
            id="map-notes"
            formControlName="map_notes"
          ></textarea>
          <label [ngStyle]="{ color: 'black' }" for="map-notes">Notes</label>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="col-lg-8">
        <div id="checkbox" class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="map_completed"
            id="map-completed"
          />
          <label
            class="form-check-label"
            for="map-completed"
            [ngStyle]="{ color: '#CED4DA' }"
          >
            Mark map as done
          </label>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div>
          <input
            class="btn btn-primary btn-form"
            type="submit"
            value="Submit"
            [disabled]="!mapForm.valid"
          />
        </div>
      </div>
    </div>
  </form>
</div>
