input,
select,
option,
textarea {
  @apply bg-zinc-700;
}

#submit-btn {
  @apply bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  cursor: pointer;
}

#submit-btn:disabled {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed;
}

::placeholder {
  @apply text-neutral-300;
}

/* Remove input type=number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.error-message {
  animation: error-animation 600ms forwards;
}

.success-message {
  animation: success-animation 600ms forwards;
}

@keyframes error-animation {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(10px);
  }
  40% {
    transform: translate(-10px);
  }
  60% {
    transform: translate(10px);
  }
  80% {
    transform: translate(-10px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes success-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
