<div class="container mx-auto px-2">
  <form
    [formGroup]="mapForm"
    (ngSubmit)="onSubmit()"
    class="wrapper-animation relative mx-auto w-full max-w-lg rounded-lg border border-zinc-600 bg-zinc-800 p-6 text-neutral-100 shadow-md"
  >
    <div class="absolute top-3 right-6">
      <button
        class="rounded border border-zinc-600 bg-none py-1 px-2 font-semibold hover:bg-zinc-700"
        (click)="goBack()"
      >
        <fa-icon class="text-neutral-200" [icon]="faArrowLeft"></fa-icon>
      </button>
    </div>
    <div class="w-full">
      <label class="mb-2 block font-bold text-neutral-300" for="mapName">
        Map name
      </label>
      <input
        id="mapName"
        class="mb-3 w-full rounded border border-neutral-500 p-2 hover:border-neutral-400 focus:border-neutral-300 focus:shadow focus:shadow-neutral-700 focus:outline-none"
        type="text"
        placeholder="Map name"
        formControlName="map_name"
      />
    </div>
    <div class="w-full sm:w-1/2">
      <label class="mb-2 block font-bold text-neutral-200" for="mapStyle">
        Map style
      </label>
      <select
        id="mapStyle"
        class="mb-3 w-full rounded border border-neutral-500 p-2 hover:border-neutral-400 focus:border-neutral-300 focus:shadow focus:shadow-neutral-700 focus:outline-none"
        formControlName="map_type"
      >
        <option selected value="linear">Linear</option>
        <option value="stage">Stage</option>
      </select>
    </div>
    <div class="w-full">
      <label class="mb-2 block font-bold text-neutral-200" for="mapTier">
        Map tier
      </label>
      <input
        id="mapTier"
        class="mb-3 w-full rounded border border-neutral-500 p-2 hover:border-neutral-400 focus:border-neutral-300 focus:shadow focus:shadow-neutral-700 focus:outline-none"
        type="number"
        formControlName="map_tier"
        placeholder="Map tier"
      />
    </div>
    <div class="w-full">
      <label class="mb-2 block font-bold text-neutral-200" for="notes">
        Notes
      </label>
      <textarea
        id="notes"
        class="mb-3 w-full rounded border border-neutral-500 p-2 hover:border-neutral-400 focus:border-neutral-300 focus:shadow focus:shadow-neutral-700 focus:outline-none"
        placeholder="Map notes"
        formControlName="map_notes"
      ></textarea>
    </div>
    <div class="mb-3">
      <input
        id="check"
        class="mr-2"
        type="checkbox"
        formControlName="map_completed"
      />
      <label class="text-neutral-200" for="check">Mark map as completed</label>
    </div>

    <div class="relative flex items-center">
      <input
        id="submit-btn"
        class=""
        type="submit"
        value="Submit"
        [disabled]="!mapForm.valid"
      />
      <div
        class="error-message absolute inset-y-0 left-28 flex items-center"
        *ngIf="errormsg"
      >
        <fa-icon
          [icon]="faExclamationTriangle"
          class="pr-1 text-red-300"
        ></fa-icon>
        <p class="font-semibold text-red-300">{{ errormsg }}</p>
      </div>
      <div
        class="success-message absolute inset-y-0 left-28 flex items-center"
        *ngIf="successmsg"
      >
        <fa-icon [icon]="faCheck" class="pr-1 text-green-300"></fa-icon>
        <p class="font-semibold text-green-300">
          {{ successmsg }}
        </p>
      </div>
    </div>
  </form>
</div>
