<div class="container mx-auto">
  <form
    [formGroup]="mapForm"
    (ngSubmit)="onSubmit()"
    class="sm:border-2 sm:border-neutral-600 text-neutral-100 p-4 w-full max-w-lg mx-auto rounded-lg sm:shadow"
  >
    <div class="w-full">
      <label class="block text-neutral-300 font-bold mb-2" for="mapName">
        Map name
      </label>
      <input
        id="mapName"
        class="w-full border border-neutral-500 rounded mb-3 p-2 focus:outline-none focus:border-neutral-300 hover:border-neutral-400 focus:shadow focus:shadow-neutral-700"
        type="text"
        placeholder="Map name"
        formControlName="map_name"
      />
    </div>
    <div class="w-full sm:w-1/2">
      <label class="block text-neutral-200 font-bold mb-2" for="mapStyle">
        Map style
      </label>
      <select
        id="mapStyle"
        class="w-full border border-neutral-500 rounded mb-3 p-2 focus:outline-none focus:border-neutral-300 hover:border-neutral-400 focus:shadow focus:shadow-neutral-700"
        formControlName="map_type"
      >
        <option selected value="linear">Linear</option>
        <option value="stage">Stage</option>
      </select>
    </div>
    <div class="w-full">
      <label class="block text-neutral-200 font-bold mb-2" for="mapTier">
        Map tier
      </label>
      <input
        id="mapTier"
        class="w-full border border-neutral-500 rounded mb-3 p-2 focus:outline-none focus:border-neutral-300 hover:border-neutral-400 focus:shadow focus:shadow-neutral-700"
        type="number"
        formControlName="map_tier"
        placeholder="Map tier"
      />
    </div>
    <div class="w-full">
      <label class="block text-neutral-200 font-bold mb-2" for="notes">
        Notes
      </label>
      <textarea
        id="notes"
        class="w-full border border-neutral-500 rounded mb-3 p-2 focus:outline-none focus:border-neutral-300 hover:border-neutral-400 focus:shadow focus:shadow-neutral-700"
        placeholder="Map notes"
        formControlName="map_notes"
      ></textarea>
    </div>
    <div class="mb-3">
      <input
        id="check"
        class="mr-2"
        type="checkbox"
        formControlName="map_completed"
      />
      <label class="text-neutral-200" for="check">Mark map as completed</label>
    </div>

    <div>
      <input
        id="submit-btn"
        class="mb-3"
        type="submit"
        value="Submit"
        [disabled]="!mapForm.valid"
      />
    </div>
    <div *ngIf="errormsg">
      <p class="error-message">{{ errormsg }}</p>
    </div>
  </form>
</div>
