<nav class="flex flex-row justify-between items-center p-4">
  <div>
    <h1 class="text-3xl text-neutral-200">Map Tracker</h1>
  </div>
  <div>
    <ul
      class="flex flex-col space-y-3 sm:space-y-0 sm:flex-row sm:space-x-7 text-neutral-400 font-semibold"
    >
      <li>
        <a routerLink="/dashboard" routerLinkActive="activebutton">Dashboard</a>
      </li>
      <li>
        <a routerLink="/add-maps" routerLinkActive="activebutton">Add maps</a>
      </li>
      <li>
        <a routerLink="/statistics" routerLinkActive="activebutton"
          >Statistics</a
        >
      </li>
    </ul>
  </div>
</nav>
