<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a ariaCurrentWhenActive="page" class="list-group-item py-2">
          <!-- <fa-icon [icon]="faSquare" size="1x" class="me-3"></fa-icon> -->

          Main dashboard
        </a>

        <a ariaCurrentWhenActive="page" class="list-group-item py-2">
          <i class="fas fa-chart-area fa-fw me-3"></i>Add
        </a>
        <a ariaCurrentWhenActive="page" class="list-group-item py-2"
          ><i class="fas fa-lock fa-fw me-3"></i>Something</a
        >
      </div>
    </div>
  </nav>

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <span class="navbar-brand">
        <img
          class="rounded-circle"
          src="https://w7.pngwing.com/pngs/946/101/png-transparent-counter-strike-global-offensive-counter-strike-source-counter-strike-1-6-computer-icons-counter-strike-logo-video-game-silhouette-thumbnail.png"
          height="50"
          alt="cs source logo"
          loading="lazy"
        />
      </span>

      <ul class="navbar-nav ms-auto d-flex flex-row">
        <li class="nav-item dropdown">
          <a href="#">
            <!-- <fa-icon
              [icon]="faGithub"
              size="2x"
              class="me-3 github-icon"
            ></fa-icon> -->
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
