<div class="input-group w-50 mb-1">
  <span class="input-group-text bg-dark bg-gradient">
    <fa-icon [ngStyle]="{ color: '#fff' }" [icon]="faSearch"></fa-icon>
  </span>
  <input
    type="text"
    class="form-control bg-dark text-white"
    placeholder="Search"
    #input
    (keyup)="onSearch(input.value)"
    list="datalistOptions"
  />
  <datalist id="datalistOptions">
    <ng-container *ngFor="let map of data">
      <option value="{{ map.map_name }}"></option>
    </ng-container>
  </datalist>
</div>

<table
  class="table table-dark table-striped table-hover table-bordered table-sm"
>
  <thead class="table-secondary">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Style</th>
      <th scope="col">Tier</th>
      <th scope="col">Notes</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="table-body">
    <ng-container *ngFor="let map of data">
      <tr *ngIf="map.map_name.includes(searchInput)">
        <td>{{ map.map_name }}</td>
        <td>{{ map.map_type }}</td>
        <td>{{ map.map_tier }}</td>
        <td>{{ map.map_notes }}</td>
        <ng-container
          *ngTemplateOutlet="
            tableMethods || noTableMethods;
            context: { $implicit: map }
          "
        ></ng-container>
      </tr>
    </ng-container>
  </tbody>
</table>

<!-- MODAL -->
<div
  class="modal fade"
  id="Modal"
  aria-labelledby="ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div
      [ngStyle]="{ border: '1px solid #ffffff8c' }"
      class="modal-content bg-dark"
    >
      <div [ngStyle]="{ border: 'none' }" class="modal-header">
        <h1 class="modal-title text-light fs-5" id="ModalLabel">
          {{ map.map_name }}
        </h1>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div [ngStyle]="{ color: '#ffffff8c' }" class="modal-body">
        Are you sure you want to delete {{ map.map_name }}?
      </div>
      <div [ngStyle]="{ border: 'none' }" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          (click)="onDelete.emit(map)"
          data-bs-dismiss="modal"
          type="button"
          class="btn btn-primary"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #noTableMethods>
  <td></td>
</ng-template>
