<div class="relative mb-2">
  <div class="absolute inset-y-0 left-0 flex items-center p-2">
    <fa-icon [icon]="faSearch"></fa-icon>
  </div>
  <input
    type="text"
    class="pl-8 py-1 rounded bg-zinc-700 hover:border-neutral-400 text-neutral-300 border outline-neutral-600"
    placeholder="Search"
    #input
    (keyup)="onSearch(input.value)"
  />
</div>

<table class="border-collapse border border-neutral-500 w-full">
  <thead class="text-neutral-800 bg-neutral-300">
    <tr class="text-left">
      <th scope="border border-slate-600">Name</th>
      <th scope="border border-slate-600">Style</th>
      <th scope="border border-slate-600">Tier</th>
      <th scope="border border-slate-600">Notes</th>
      <th scope="border border-slate-600"></th>
    </tr>
  </thead>
  <tbody class="bg-zinc-800 text-neutral-200">
    <ng-container *ngFor="let map of data">
      <tr
        *ngIf="map.map_name.includes(searchInput)"
        class="hover:bg-zinc-700 border-b border-neutral-500"
      >
        <td class="px-3 py-1">
          {{ map.map_name }}
        </td>
        <td class="px-3 py-1 text-neutral-400">
          {{ map.map_type }}
        </td>
        <td class="px-3 py-1 text-neutral-400">
          {{ map.map_tier }}
        </td>
        <td class="px-3 py-1 text-neutral-400">
          {{ map.map_notes }}
        </td>
        <td class="py-1">
          <a
            routerLink="/detail/{{ map.id }}"
            class="text-blue-500 font-semibold hover:underline"
            >Edit</a
          >
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
