fa-icon {
  @apply text-neutral-300;
}

::placeholder {
  @apply text-neutral-400;
}

.body-row:hover {
  animation: hover-animation 300ms forwards;
}

@keyframes hover-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
  }
}
