@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  /* background-color: #313133; */
  @apply bg-zinc-800;
}

/* GLOBAL ANIMATIONS */

.wrapper-animation {
  animation: loading-animation 800ms forwards;
}

@keyframes loading-animation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}
