<div
  class="container mx-auto px-3"
  *ngIf="completedMaps.length || projectMaps.length; else noMaps"
>
  <div class="wrapper-animation mx-auto max-w-4xl">
    <div class="mb-4 rounded-lg border-2 border-neutral-600 p-4 text-center">
      <h3 class="mb-2 text-2xl text-slate-200">Statistics</h3>
      <p class="text-slate-300">Total maps done: {{ completedMaps.length }}</p>
      <p class="text-slate-300">Number of projects: {{ projectMaps.length }}</p>
    </div>

    <div
      class="flex flex-col items-center justify-around rounded-lg border-2 border-neutral-600 p-4 sm:flex-row"
    >
      <div
        class="barchart mb-5 max-w-md p-2 sm:mb-0 sm:max-w-xs"
        *ngIf="completedMaps.length"
      >
        <p class="mb-3 text-center text-lg text-slate-200">
          Completed maps by tiers
        </p>
        <canvas
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="'bar'"
        >
        </canvas>
      </div>
      <div
        class="doughnutchart max-w-md p-2 sm:max-w-xs"
        *ngIf="completedMaps.length"
      >
        <canvas
          baseChart
          [data]="doughnutChartData"
          [options]="doughnutChartOptions"
          [type]="'doughnut'"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>

<ng-template #noMaps>
  <h2 class="mb-1 text-center text-3xl text-neutral-200">
    No statistics available
  </h2>
  <p class="text-center text-neutral-300">
    You can add maps to your account in the Add maps page
  </p>
</ng-template>
