<footer class="h-72 bg-zinc-900 text-neutral-100">
  <div
    class="container mx-auto flex h-full flex-col gap-10 p-6 sm:flex-row sm:items-center sm:justify-around sm:gap-4"
  >
    <div class="leading-6">
      <h2 class="font mb-3 text-3xl">Map Tracker</h2>
      <p class="text-neutral-300">Designed and build by Niko Söder.</p>
      <p class="text-neutral-300">
        Feel free to contribute
        <a
          class="text-blue-400"
          target="_blank"
          href="https://github.com/NikoSoder/map-tracker"
          >here</a
        >.
      </p>
    </div>
    <div>
      <ul class="flex flex-col gap-2">
        <li class="mb-2 text-2xl">Links</li>
        <li class="text-neutral-300 hover:text-blue-300">
          <fa-icon
            class="footer-logo pr-2"
            [icon]="faGithub"
            size="lg"
          ></fa-icon>
          <a href="https://github.com/NikoSoder" target="_blank">Github</a>
        </li>
        <li class="text-neutral-300 hover:text-blue-300">
          <fa-icon
            class="footer-logo pr-2"
            [icon]="faLinkedin"
            size="lg"
          ></fa-icon>
          <a href="#">Linkedin</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
